* {
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: fantasy;
}
body {
  background-image: url('../images/studio.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.keys {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 50vh;
}
.key {
  border: solid 2px black;
  border-radius: 5%;
  display: flex;
  align-items: center;
  width: 100px;
  height: 100px;
  justify-content: center;
  margin: 5px;
  transition: all 0.07s;
}
.playing {
  transform: scale(1.1);
  border-color: yellow;
  box-shadow: 0 0 10px #ff6060;
}
